<div class="container">
  <button mat-flat-button color="accent" [disabled]="(isConnected$ | async)" (click)="connectToAPI()" class="success">Connect to API</button>
  
  <button mat-flat-button color="accent" [disabled]="!(isConnected$ | async) || activityWS" (click)="connectToEndpoint()" class="success">Connect to endpoint</button>
  
  <ng-container *ngIf="(isConnected$ | async) && activityWS">
    <button color="primary" mat-flat-button (click)="send()" >Get #{{page}} Page</button>
    <button color="warn" mat-flat-button (click)="disconnect()">Disconnect</button>
  </ng-container>
</div>

<ng-container *ngIf="logs.length">
  <mat-list role="list">
    <div mat-subheader>ng-stomp-sock logs:</div>
    <ng-container *ngFor="let log of logs">
      <mat-list-item role="listitem" [ngClass]="log.color">
        {{log.msg}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</ng-container>